project-card {
  display: block;
}

project-card .label {
  width: 100px;
  display: inline-block;
}

.project-card__info-block {
  margin: 0;
}

.project-card__info-block-heading {
  margin-bottom: 6px;
  display: flex;
  margin-bottom: 0;
}

.project-card__info-block-heading-title {
  flex-grow: 1;
}

.project-card__info-block-heading-delivarable {
  margin-left: 4px;
}
