cv-page h3 + .demo-card-list {
  margin-top: 32px;
}

cv-page project-list {
  margin-top: 60px;
  margin-bottom: 90px;
  display: block;
}

cv-page .filter-btn {
  margin-right: 3px;
  margin-bottom: 3px;
}

cv-page project-deliverables-filter .btn--white {
  color: var(--color-woodsmoke);
}

cv-page .page {
  display: flex;
}

cv-page .right {
  flex-grow: 0;
  flex-shrink: 0;
  width: 310px;
}

cv-page .left {
  flex-grow: 1;
  padding-right: 60px;
}

cv-page .profile {
  padding-top: 10px;
}

cv-page .filters {
  position: sticky;
  top: 30px;
  background: var(--color-white);
  z-index: 1;
}

cv-page time-line {
  --base-padding: 10px;
  --label-width: 100px;
  --color: var(--color-dodger-blue);
  --color-tint: var(--color-dodger-blue-tint);
  color: var(--color-gunpowder);
  font-size: 15px;
  padding-bottom: 60px;
}

cv-page .cv-page__profileimg {
  width: 100%;
}

@media screen and (max-width: 768px) {
  cv-page .page {
    flex-direction: column-reverse;
  }

  cv-page .measure-xl {
    text-align: center;
  }
}

@media screen {
  .hide-screen {
    display: none;
  }

  cv-page .time-line__container {
    left: -120px;
    width: calc(100% + 120px);
  }
}

@media screen and (max-width: 1400px) {
  cv-page .time-line__container {
    left: calc(var(--base-padding) * -1);
    width: calc(100% + var(--base-padding));
  }
}

@page {
  size: letter;
  /* margin: 2cm; */
  /* padding-left: 2cm; */
}

@media print {
  .hide-print {
    display: none;
  }

  .ui-container {
    width: 100% !important;
    padding-left: 2cm;
    padding-right: 2cm;
  }

  header {
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    top: 1cm;
    left: 0;
  }

  /* .page {
    margin: 2cm;
    padding-left: 2cm;
  } */

  cv-page .left {
    padding-right: 1.5cm;
  }

  cv-page .right {
    width: 5.1cm;
  }

  main {
    padding-top: 2.5cm;
  }

  .bla {
    width: 100%;
    padding: 0 2cm;
    display: flex;
    align-items: center;
  }

  .cv-page__kopfzeiletitle {
    flex-grow: 1;
    text-align: right;
  }

  .cv-page__first-heading {
    margin-top: 1.7cm;
  }

  cv-page time-line {
    --label-width: 75px;
    --base-padding: 4px;
    --line-correction: 5px;
    padding-bottom: 15px;
  }

  cv-page .time-line__container {
    left: -10px;
    width: calc(100% + 10px);
  }

  h1 {
    font-size: 14px !important;
    line-height: 17px !important;
    margin-bottom: 6px;
  }

  h2 {
    font-size: 13px !important;
    margin-bottom: 6px;
    color: var(--color-dodger-blue);
  }

  h3 {
    font-size: 10px !important;
    color: var(--color-gandalf);
    margin-top: 6px;
  }

  p,
  span,
  div {
    font-size: 10px !important;
  }

  .new-page {
    page-break-after: always;
  }

  site-header,
  footer {
    display: none;
  }
}
