.project-list__project {
  margin-top: 15px;
  margin-bottom: 30px;
}

@media print {
  .project-list__project {
    page-break-inside: avoid;
    break-inside: avoid-page;
  }
}

@media screen and (max-width: 1200px) {
  .project-list__project {
    margin-top: 45px;
  }
}
