time-line {
  --base-padding: 10px;
  --label-width: 60px;
  --line-width: 3px;
  --border-width: 3px;
  --dot-size: 20px;
  --color: red;
  --color-tint: orange;

  display: block;
}

.time-line__container {
  position: relative;
}

.time-line__item {
  display: flex;
  padding: var(--base-padding);
}

.time-line__label {
  width: var(--label-width);
  text-align: right;
  padding-right: var(--base-padding);
}

.time-line__dot {
  width: var(--dot-size);
  height: var(--dot-size);
  background-color: var(--color);
  border-radius: 50%;
  border: var(--border-width) solid var(--color-tint);
}

.time-line__line {
  position: absolute;
  left: calc(var(--label-width) + (2 * var(--base-padding)) - 1px);
  width: var(--line-width);
  height: calc(100% - (2 * var(--base-padding)) - (2 * var(--border-width)));
  background-color: var(--color);
  top: calc(var(--base-padding) + var(--border-width));
}

.time-line__content {
  padding-left: var(--base-padding);
}
